

body {	
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

.container {
	padding: 0 5%;
}

.container-menu {
	display: flex;
}

.row-menu {
	background-color: #efefef;
	height: 16px;
}

.header__menu {
	display: flex;
	justify-content: center;
	width: 50%;
}

.menu-nav {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #e4e4e4;
	transition: 0.5s;
	transform: scaleY(0);
	opacity: 0;
}

.menu-nav-active {
	transform: scaleY(1);
	opacity: 1;	
}

.menu__dropdown {
	padding: 20px 0px 15px 55px;
	list-style: none;
}

.dropdown__item-link {
	text-decoration: none;
	color: #6b737a;
	font-size: 13px;
}

.burger {
	text-align: left;
	display: block;
}

.burger {
	position: relative;
	display: block;
	width: 100%;
	text-decoration: none;
	color: #6b737a;
	text-transform: uppercase;
	font-size: 13px;
	padding-left: 40px;
}

.burger__inner,
.burger__inner:before,
.burger__inner::after {
	position: absolute;
	height: 1px;
	width: 15px;
	top: 7px;
	left: 15px;
	background-color: #6b737a;
}

.burger__inner:before {
	content: '';
	transition: 0.5s;
	transform: translateY(-4px);
	left: 3%;
	top: 0;
}

.burger__inner::after {
	content: '';
	transition: 0.5s;
	transform: translateY(4px);
	left: 3%;
	top: 0;
}

.burger_active .burger__inner:before {
	transform: rotate(35deg);
	/*height: 24px;*/
}

.burger_active .burger__inner::after {
	transform: rotate(-35deg);
	/*height: 24px;*/
}

.burger_active .burger__inner {
	height: 0;
}

.header_vk {
	width: 50%;
	text-align: right;
}

.vk__link {
	text-decoration: none;
	color: #6b737a;
	font-size: 13px;
	vertical-align: super;
}



@media (min-width: 1200px) {

	.container {
		width: 1170px;
		margin: 0 auto;
	}

		/*HEADER*/

	.row-menu {
		background-color: #efefef;
		background-size: cover;
		height: 40px;
	}

	.container-menu {
		display: flex;
		justify-content: space-between;
	}

	.menu__dropdown {
		list-style: none;
	}

	.dropdown__item {	
		display: inline-block;
		margin-right: 70px;
		font-size: 13px;
		padding: 11px 0;
	}

	.dropdown__item-link {
		text-decoration: none;
		color: #6b737a;
	}

	.dropdown__item-link:hover {
		text-decoration: underline;
	}

	.burger {
		display: none;
	}

	.header_vk {
		padding: 9px 0;}

	.vk__link {
		position: relative;
		text-decoration: none;
		color: #6b737a;
	}

	.vk__link:hover {
		text-decoration: underline;
	}

	.vk__link:before {
		content: '';
		position: absolute;
		background-color: #0269b7;
		width: 25px;
		height: 25px;
		border-radius: 3px;
	}


}