


.container {
	padding: 0 5%;
}

.container-menu {
	display: flex;
}

.row-menu {
	background-color: #efefef;
}

.header__menu {
	display: flex;
	justify-content: center;
	width: 50%;
}

.menu__dropdown {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #e4e4e4;
	transition: 0.5s;
	transform: scaleX(0);
	opacity: 0;
}

.menu__dropdown-active {
	transform: scaleY(1);
	opacity: 1;	
}

.header_vk {
	width: 50%;
}



@media (min-width: 1200px) {

	.container {
		width: 1170px;
		margin: 0 auto;
	}

		/*HEADER*/

	.row-menu {
		background-color: #efefef;
		background-size: cover;
		height: 40px;
	}

	.container-menu {
		display: flex;
		justify-content: space-between;
	}

	.header__menu {
	}

	.menu__dropdown {
		list-style: none;
	}

	.dropdown__item {	
		display: inline-block;
		margin-right: 70px;
		font-size: 13px;
		padding: 11px 0;
	}

	.dropdown__item-link {
		text-decoration: none;
		color: #6b737a;
	}

	.dropdown__item-link:hover {
		text-decoration: underline;
	}

	.menu__burger {
		display: none;
	}

	.header_vk {
		padding: 9px 0;}

	.vk__link {
		position: relative;
		text-decoration: none;
		color: #6b737a;
	}

	.vk__link:hover {
		text-decoration: underline;
	}

	.vk__link:before {
		content: '';
		position: absolute;
		background-color: #0269b7;
		width: 25px;
		height: 25px;
		border-radius: 3px;
	}


}